/* NOTE 全局通用基础样式 */

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  place-items: center;
  min-height: 100dvh;
  width: 100%;
}

#app {
  width: 100%;
}


@font-face {
  font-family: 'wyxqn';
  src: url('/fonts/wyxqn.ttf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

